---
- name: Ensure QEMU-base is not installed
  community.general.pacman:
    name: qemu-base
    state: absent
  become: true
  when: ansible_distribution == 'Archlinux'

- name: Ensure QEMU-full is installed
  community.general.pacman:
    name: qemu-full
  become: true
  when: ansible_distribution == 'Archlinux'