---
- name: Get the list of currently installed Vagrant plugins
  ansible.builtin.command:
    cmd: vagrant plugin list
  register: installed_plugins_output
  changed_when: false

- name: Parse installed plugins into a list of installed plugin names
  set_fact:
    installed_vagrant_plugins_list: >-
      {{ installed_plugins_output.stdout_lines | map('split', ' ') | map('first') | list }}

- name: Install target plugin if not installed
  ansible.builtin.command:
    cmd: vagrant plugin install {{ vagrant_plugin_name }}
  when: vagrant_plugin_name not in installed_vagrant_plugins_list
