---
- name: Install cockpit
  package:
    name: cockpit
    state: present
  become: true

- name: Start and enable cockpit.socket
  systemd:
    name: cockpit.socket
    state: started
    enabled: yes
  become: true

- name: Update cockpit.socket configuration
  include_tasks: firewall.yml
