{
  "datacenter": "{{ datacenter }}",
  "server": {{ server|lower }},
  "ui": {{ ui|lower }},
  "data_dir": "/consul/data",
  "bind_addr": "{{ bind_addr }}",
  "bootstrap_expect": 1,
  "log_level": "{{ log_level }}"
}
