storage "etcd" {
  address = "{{ etcd_address }}"
  path    = "vault/"
  {% if etcd_tls_enabled %}
  tls_ca_file = "/path/to/ca.crt"
  tls_cert_file = "/path/to/client.crt"
  tls_key_file = "/path/to/client.key"
  {% endif %}
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = 1
}

ui = true
