apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
containerRuntimeEndpoint: "unix:///var/run/crio/crio.sock"
cgroupDriver: systemd
clusterDNS: [{{ cluster_dns | join(', ') }}]
clusterDomain: {{ cluster_domain }}
resolvConf: {{ resolv_conf }}
