KUBELET_ARGS="--pod-manifest-path=/etc/kubernetes/manifests \
--pod-infra-container-image=gcr.io/google_containers/pause-amd64:3.0 \
--cluster_dns={{ cluster_dns | join(', ') }} --cluster_domain={{ cluster_domain }} \
--resolv-conf={{ resolv_conf }} --kubeconfig=/etc/kubernetes/node-kubeconfig.yaml \
--require-kubeconfig \
--container-runtime-endpoint=unix:///var/run/crio/crio.sock \
--runtime-request-timeout=10m"
