- name: Ensure default_capabilities is consistent in the hypervisors
  community.general.ini_file:
    path: /etc/containers/containers.conf
    section: containers
    option: default_capabilities
    value: ["CHOWN", "DAC_OVERRIDE", "FOWNER", "FSETID", "KILL", "NET_BIND_SERVICE", "SETFCAP", "SETGID", "SETPCAP", "SETUID", "SYS_CHROOT"]
    backup: true
    mode: '0644'
  