---
- name: vscode for Archlinux
  include_role:
    name: vscode/arch
  when: ansible_distribution == 'Archlinux'

- name: vscode for AlmaLinux
  include_role:
    name: vscode/alma
  when: ansible_distribution == 'AlmaLinux'

- name: vscode for Ubuntu
  include_role:
    name: vscode/ubuntu
  when: ansible_distribution == 'Ubuntu'

- name: Manage vscode extensions if list of extension is defined
  include_tasks: extensions.yml
  
- name: Manage vscode user settings.json
  include_tasks: configuration.yml
  
