---
- name: Fetch stats for the active user env
  include_role:
    name: korbad.facts.active_user_environment_dict

- name: Ensure that user home .screenlayout config dir exists
  file:
    path: "{{ ansible_env.HOME }}/.screenlayout"
    state: directory

- name: Check for screen layout xrandr script
  include_tasks: check_for_xrandr_screen_layout_script.yml

- name: Copy layout from controller if it exists
  include_tasks: copy_from_controller.yml
  when: xrandr_screen_layout_script_path is undefined

- name: Show GUI to user and have them configure and save the layout
  include_tasks: gui_poll.yml
  when: xrandr_screen_layout_script_path is undefined

- name: Ensure that ansible controller has copies of layout files
  fetch:
    src: "{{ item.path }}"
    dest: "/{{ managed_remote_host_files_path }}/{{ inventory_hostname }}/arandr_gui/"
    flat: yes
  with_items: "{{ layout_files.files }}"
  vars:
    managed_remote_host_files_path: "{{ ansible_env.HOME }}/managed_remote_host_files"

- name: Ensure xinitrc includes xrandr settings
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.xinitrc"
    block: sh {{ xrandr_screen_layout_script_path }} &
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR xrandr"
    insertbefore: "^# BEGIN ANSIBLE MANAGED BLOCK FOR exec"
  register: xinitrc_xrandr_settings_register
  notify: run xrandr screen layout script
