# Boot Loader Specification type#1 entry
# File created by Ansible
title {{ boot_menu_entry_title }}
{% if kernel_version is defined %}version {{ kernel_version }}
{% endif %}
{% if machine_id is defined %}machine-id {{ machine_id }}
{% endif %}
options root=PARTUUID={{ root_partition_uuid }} rw {% if machine_id is defined %}systemd.machine_id={{ machine_id }}
{% endif %}
linux /{{ machine_id }}/{{ kernel_version }}/linux
initrd /{{ machine_id }}/{{ kernel_version }}/initrd
architecture x64