---
# we might want to look into this: https://github.com/input-leap/input-leap

- name: Ensure the Barrier configuration directory exists
  file:
    path: "{{ ansible_env.HOME }}/.local/share/barrier/"
    state: directory

- name: Create Barrier configuration file
  template:
    src: barrier.conf.j2
    dest: "{{ ansible_env.HOME }}/.local/share/barrier/.barrier.conf"
  notify: reload systemd daemon

- name: Deploy barrier server systemd service file
  template:
    src: barrier_server.service.j2
    dest: /etc/systemd/system/barrier_server.service
  notify: reload systemd daemon
  become: true

- name: Enable and start barrier server service
  systemd:
    name: barrier_server
    enabled: yes
    state: started
  become: true

- name: Ensure there exists an SSL Cert for Barrier
  include_tasks: ssl.yml

- name: Restart Barrier server service
  systemd:
    name: barrier_server.service
    state: restarted
    daemon_reload: yes
  become: true