---
- name: Podman for Archlinux
  include_role:
    name: podman/arch
  when: ansible_distribution == 'Archlinux'

- name: Podman for AlmaLinux
  include_role:
    name: podman/alma
  when: ansible_distribution == 'AlmaLinux'

# - name: Update containers.conf file
#   include_tasks: containers_conf.yml

- name: Ensure podman.service is started and enabled
  ansible.builtin.service:
    name: podman.service
    state: started
    enabled: true
  become: true

- name: Enable podman.socket
  systemd:
    name: podman.socket
    enabled: true
    scope: user
    state: started
