apiVersion: v1
kind: Pod
metadata:
  name: awx-pod
  labels:
    app: awx
spec:
  containers:
  - name: awx-web
    image: "{{ awx_image_link }}:{{ awx_image_version }}"
    command: ["supervisord", "-c", "/supervisor.conf"]
    ports:
    - containerPort: 8052
    env:
    - name: DATABASE_USER
      value: awx
    - name: DATABASE_PASSWORD
      value: "{{ awx_postgres_auth_password }}"
    - name: DATABASE_NAME
      value: awx
    - name: DATABASE_PORT
      value: "{{ awx_postgres_internal_port }}"
    - name: DATABASE_HOST
      value: awx-postgres
    - name: AWX_ADMIN_USER
      value: admin
    - name: AWX_ADMIN_PASSWORD
      value: "{{ awx_admin_password }}"

    - name: awx-task
    image: "{{ awx_image_link }}:{{ awx_image_version }}"
    command: ["supervisord", "-c", "/supervisor.conf"]
    env:
    - name: DATABASE_USER
      value: awx
    - name: DATABASE_PASSWORD
      value: "{{ awx_postgres_auth_password }}"
    - name: DATABASE_NAME
      value: awx
    - name: DATABASE_PORT
      value: "{{ awx_postgres_internal_port }}"
    - name: DATABASE_HOST
      value: awx-postgres
    - name: AWX_ADMIN_USER
      value: admin
    - name: AWX_ADMIN_PASSWORD
      value: "{{ awx_admin_password }}"

  - name: awx-postgres
    image: postgres:{{ postgres_image_version }}
    env:
    - name: POSTGRES_USER
      value: awx
    - name: POSTGRES_PASSWORD
      value: "{{ awx_postgres_auth_password }}"
    - name: POSTGRES_DB
      value: awx
    ports:
    - containerPort: {{ awx_postgres_internal_port }}

