// credentials.groovy.j2
import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*

String id = '{{ credential_id }}'
String username = '{{ credential_username }}'
String password = '{{ credential_password }}'
String description = '{{ credential_description }}'

CredentialsStore store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()

StandardUsernamePasswordCredentials credential = new UsernamePasswordCredentialsImpl(
  CredentialsScope.GLOBAL,
  id,
  description,
  username,
  password
)

store.addCredentials(Domain.global(), credential)
