<?xml version='1.1' encoding='UTF-8'?>
<hudson.plugins.git.GitSCM_-DescriptorImpl plugin="git@3.9.1">
  <useLegacyStatus>false</useLegacyStatus>
  <globalConfigName>{{ jenkins_git_global_config_name }}</globalConfigName>
  <globalConfigEmail>{{ jenkins_git_global_config_email }}</globalConfigEmail>
  <createAccountBasedOnEmail>{{ jenkins_git_create_account_based_on_email }}</createAccountBasedOnEmail>
  <globalConfigNotify>{{ jenkins_git_global_config_notify }}</globalConfigNotify>
  <globalConfigTimeout>{{ jenkins_git_global_config_timeout }}</globalConfigTimeout>
</hudson.plugins.git.GitSCM_-DescriptorImpl>
