<?xml version='1.1' encoding='UTF-8'?>
<jenkins>
  <systemMessage>{{ jenkins_system_message }}</systemMessage>
  <numExecutors>{{ jenkins_num_executors }}</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>{{ jenkins_use_security }}</useSecurity>
  {% if jenkins_use_security %}
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy">
    <denyAnonymousReadAccess>{{ jenkins_deny_anonymous_read_access }}</denyAnonymousReadAccess>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>{{ jenkins_disable_signup }}</disableSignup>
  </securityRealm>
  {% endif %}
  <disableRememberMe>false</disableRememberMe>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
</jenkins>
