---
- name: Ensure i3 Window Manager is installed
  community.general.pacman:
    name: i3
  become: true

- name: Ensure that the i3 config dir exists
  file:
    path: "{{ ansible_env.HOME }}/.config/i3"
    state: directory

- name: Apply i3 configuration
  include_tasks: configuration.yml
  when: i3_configuration is defined

- name: Set i3 to require click to focus
  lineinfile:
    path: "{{ ansible_env.HOME }}/.config/i3/config"
    line: 'focus_follows_mouse no'
    create: true
  notify: restart i3

- name: Ensure .xinitrc exists and has correct configuration
  template:
    src: xinitrc.j2
    dest: "{{ ansible_env.HOME }}/.xinitrc"
    owner: "{{ ansible_user }}"
    mode: '0744' # Ensures the file is executable