[Unit]
Description=Barrier Client daemon
After=network.target

[Service]
User={{ barrier_client_user }}
Group={{ barrier_client_group }}
ExecStart=barrierc --disable-crypto --display :0 --debug INFO -f {{ barrier_server_ip }}
Restart=always

[Install]
WantedBy=multi-user.target
