[Unit]
Description=SSHFS to {{ remote_path }}
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/bash -c 'if ! mountpoint -q {{ local_path }}; then exit 0; else exit 1; fi'
ExecStart=/usr/bin/sshfs {{ remote_path }} {{ local_path }}
ExecStop=/usr/bin/fusermount -u {{ local_path }}

[Install]
WantedBy=default.target
