<!DOCTYPE html>
<html>
<head>
  <title>Webcam Stream</title>
</head>
<body>
  <video id="video" width="640" height="480" controls autoplay muted>
    <source src="http://localhost:{{ http_port }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</body>
</html>
