<dict>
  <key>organization</key>
  <string>korbad</string>
  <key>service_mode</key>
  <string>warp</string>
  <key>auth_client_id</key>
  <string>{{ cloudflare_client_id }}</string>
  <key>auth_client_secret</key>
  <string>{{ cloudflare_client_secret }}</string>
</dict>