---
- name: Remove iptables
  package:
    name:
    - iptables
    state: absent
    force: true
  become: true

# https://www.tauceti.blog/posts/testing-ansible-roles-with-molecule-libvirt-vagrant-qemu-kvm/
- name: Install required packages
  community.general.pacman:
    name:
      - ebtables
      - python-pip
  become: true

- name: Install libvirt packages
  community.general.pacman:
    name: 
      - libvirt
      - bridge-utils
      - dmidecode
      - python-lxml
      - libvirt-python
    state:
      present
  become: true
  notify:
    - reload libvirtd

- name: Update libvirt config file
  include_tasks: sock_permissions.yml

- name: Restart NetworkManager
  systemd:
    name: NetworkManager.service
    state: restarted
    enabled: true
  become: true

- name: Archlinux | Install edk2-ovmf for UEFI VMs
  community.general.pacman:
    name: edk2-ovmf
    state: present
  become: true
