focus_follows_mouse no

# Define workspace
set $workspace "{{ workspace_name }}"

# Switch to workspace
workspace $workspace

# Split workspace into four windows
split h
exec --no-startup-id chromium --new-window "{{ url1 }}"
split v
exec --no-startup-id chromium --new-window "{{ url2 }}"
focus left
split v
exec --no-startup-id pycharm {{ project1 }}
focus down
exec --no-startup-id pycharm {{ project2 }}