---
- name: Ensure Webex rpm is downloaded
  get_url:
    url: https://binaries.webex.com/WebexDesktop-CentOS-Official-Package/Webex.rpm
    dest: "{{ managed_binaries_path }}"

- name: Install Webex from RPM
  yum:
    name: "{{ (managed_binaries_path, 'Webex.rpm') | path_join }}"